.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo {
  width: 100px;
}

.nav-items > ul {
  font-size: 18px;
  display: flex;
  list-style-type: none;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}

.res-card {
  margin: 15px;
  padding: 5px;
  width: 200px;
}

.res-container {
  margin-left: 25px;
  display: flex;
  flex-wrap: wrap;
}

.res-card:hover {
  border: 1px solid black;
  cursor: pointer;
}

.search {
  padding: 10px;
}

.res-logo {
  width: 190px;
}

.filter_btn {
  margin: 10px;
  cursor: pointer;
}
